* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
}
body h1 {
  color: white;
  font-family: "Exo", sans-serif;
}

header {
  margin: 5px;
}
header .menu {
  background-color: blue;
}
header .menu li {
  display: inline-block;
  text-align: center;
  padding: 20px;
}
header .menu li a {
  color: blue;
}
header .menu li a:hover {
  color: black;
  background-color: brown;
  border-radius: 50%;
  transform: scale(1.1, 1.1);
}

main h2 {
  color: white;
  font-family: "Exo", sans-serif;
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}
main img {
  width: 200px;
}
main p {
  color: white;
  font-family: "Roboto Serif", serif;
}
main .gif {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row dense;
  grid-template-areas: "gif1 gif2 gif3" "gif4 gif5 gif6";
}
main .gif1 {
  grid-area: gif1;
  text-align: center;
}
main .gif2 {
  grid-area: gif2;
  text-align: center;
}
main .gif3 {
  grid-area: gif3;
  text-align: center;
}
main .gif4 {
  grid-area: gif4;
  text-align: center;
}
main .gif5 {
  grid-area: gif5;
  text-align: center;
}
main .gif6 {
  grid-area: gif6;
  text-align: center;
}
main .peliculas {
  margin: 10px;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row dense;
  grid-template-areas: "pelicula1 pelicula2 pelicula3" "pelicula4 pelicula5 pelicula6" "pelicula7 pelicula8 pelicula9" "pelicula10 pelicula11 .";
}
main .pelicula1 {
  grid-area: pelicula1;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula2 {
  grid-area: pelicula2;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula3 {
  grid-area: pelicula3;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula4 {
  grid-area: pelicula4;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula5 {
  grid-area: pelicula5;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula6 {
  grid-area: pelicula6;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula7 {
  grid-area: pelicula7;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula8 {
  grid-area: pelicula8;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula9 {
  grid-area: pelicula9;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula10 {
  grid-area: pelicula10;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula11 {
  grid-area: pelicula11;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .pelicula {
  width: 100px;
  border: 8px double grey;
  margin: 8px;
}
main .series {
  margin: 10px;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row dense;
  grid-template-areas: "serie1 serie2 serie3" "serie4 serie5 serie6" "serie7 serie8 serie9";
}
main .serie1 {
  grid-area: serie1;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie2 {
  grid-area: serie2;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie3 {
  grid-area: serie3;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie4 {
  grid-area: serie4;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie5 {
  grid-area: serie5;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie6 {
  grid-area: serie6;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie7 {
  grid-area: serie7;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie8 {
  grid-area: serie8;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie9 {
  grid-area: serie9;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .serie {
  width: 100px;
  border: 8px double grey;
  margin: 8px;
}
main .escenas {
  margin: 10px;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row dense;
  grid-template-areas: "escena1 escena2" "escena3 escena4" "escena5 escena6";
}
main .escena1 {
  grid-area: escena1;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .escena2 {
  grid-area: escena2;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .escena3 {
  grid-area: escena3;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .escena4 {
  grid-area: escena4;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .escena5 {
  grid-area: escena5;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .escena6 {
  grid-area: escena6;
  text-align: center;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}
main .formulario {
  color: white;
  font-family: "Roboto Serif", serif;
  margin: 20px;
  padding: 10px;
  width: 500px;
  border-top: solid 5px blue;
  border-right: solid 5px blue;
  border-bottom: solid 5px blue;
  border-left: solid 5px blue;
}

footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(blue, black, blue);
}
footer .redes {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
footer .redes img {
  margin: 10px;
  width: 50px;
}
footer a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  main {
    height: 100%;
  }
  main .gif {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "gif1 gif2" "gif3 gif4" "gif5 gif6";
  }
  main .peliculas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    grid-template-areas: "pelicula1 pelicula2" "pelicula3 pelicula4" "pelicula5 pelicula6" "pelicula7 pelicula8" "pelicula9 pelicula10" "pelicula11 .";
  }
  main .series {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    grid-template-areas: "serie1 serie2" "serie3 serie4" "serie5 serie6" "serie7 serie8" "serie9 .";
  }
  main .escenas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    grid-template-areas: "escena1" "escena2" "escena3" "escena4" "escena5" "escena6";
  }
  footer {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  main .gif {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row;
    grid-template-areas: "gif1" "gif2" "gif3" "gif4" "gif5" "gif6";
  }
  main .peliculas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    grid-template-areas: "pelicula1" "pelicula2" "pelicula3" "pelicula4" "pelicula5" "pelicula6" "pelicula7" "pelicula8" "pelicula9" "pelicula10" "pelicula11";
  }
  main .series {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-columns: 1fr;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    grid-template-areas: "serie1" "serie2" "serie3" "serie4" "serie5" "serie6" "serie7" "serie8" "serie9";
  }
}
@media screen and (max-width: 320px) {
  main .gif {
    display: flex;
    justify-content: center;
  }
  main .libros {
    height: 100%;
  }
  main .videojuegos {
    width: 80vw;
    display: flex;
    flex-direction: column;
  }
  main .escenas {
    width: 80vw;
  }
  main h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 15px;
  }
  footer {
    width: 100vw;
  }
  .texto {
    width: 200px;
  }
  .opinion {
    width: 200px;
  }
}

/*# sourceMappingURL=estilo.css.map */
