*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $negro;
    h1{
        color: $blanco;
        font-family: "Exo", sans-serif;
        text-align: center;
        padding: 20px;
    } 
}