main{
    h2{
        color: $blanco;
        font-family: "Exo", sans-serif;
        text-align: center;
        padding: 20px;
        text-decoration: underline;
    }
    img{
        width: 200px;
    }
    p{
        color: $blanco;
        font-family: "Roboto Serif", serif;
    }
    .gif{  
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 0px;
        grid-auto-flow: row dense;
        grid-template-areas:
          "gif1 gif2 gif3"
          "gif4 gif5 gif6";
    }
    .gif1{ 
        grid-area: gif1;
        text-align: center;
    }  
    .gif2{ 
        grid-area: gif2;
        text-align: center;
    }
    .gif3{ 
        grid-area: gif3;
        text-align: center;
    } 
    .gif4{ 
        grid-area: gif4;
        text-align: center;
    }
    .gif5{
        grid-area: gif5;
        text-align: center; 
    }
    .gif6{
        grid-area: gif6;
        text-align: center;
    }
    .peliculas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row dense;
        grid-template-areas:
          "pelicula1 pelicula2 pelicula3"
          "pelicula4 pelicula5 pelicula6"
          "pelicula7 pelicula8 pelicula9"
          "pelicula10 pelicula11 .";
    }  
    .pelicula1{
        grid-area: pelicula1;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul;
    }
    .pelicula2{
        grid-area: pelicula2;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }  
    .pelicula3{ 
        grid-area: pelicula3;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }  
    .pelicula4{ 
        grid-area: pelicula4;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }  
    .pelicula5{ 
        grid-area: pelicula5;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }  
    .pelicula6{ 
        grid-area: pelicula6;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul;
    }  
    .pelicula7{ 
        grid-area: pelicula7;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul;
    }  
    .pelicula8{ 
        grid-area: pelicula8;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }  
    .pelicula9{ 
        grid-area: pelicula9;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .pelicula10{ 
        grid-area: pelicula10;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }  
    .pelicula11{ 
        grid-area: pelicula11;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .pelicula{
        width: 100px;
        border: 8px double $gris;
        margin: 8px;
    }
    .series{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row dense;
        grid-template-areas:
        "serie1 serie2 serie3"
        "serie4 serie5 serie6"
        "serie7 serie8 serie9";
    }
    .serie1{
        grid-area: serie1;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie2{
        grid-area: serie2;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie3{
        grid-area: serie3;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie4{
        grid-area: serie4;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie5{
        grid-area: serie5;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie6{
        grid-area: serie6;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie7{
        grid-area: serie7;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie8{
        grid-area: serie8;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie9{
        grid-area: serie9;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .serie{
        width: 100px;
        border: 8px double $gris;
        margin: 8px;
    }
    .escenas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr;
        gap: 5px 5px;
        grid-auto-flow: row dense;
        grid-template-areas:
        "escena1 escena2 escena3"
        "escena4 escena5 escena6";
    }
    .escena1{
        grid-area: escena1;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .escena2{
        grid-area: escena2;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .escena3{
        grid-area: escena3;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .escena4{
        grid-area: escena4;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .escena5{
        grid-area: escena5;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .escena6{
        grid-area: escena6;
        text-align: center;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
    .formulario{
        color: $blanco;
        font-family: "Roboto Serif", serif;
        margin: 20px;
        padding: 10px;
        width: 500px;
        border-top: solid 5px $azul;
        border-right: solid 5px $azul;
        border-bottom: solid 5px $azul;
        border-left: solid 5px $azul; 
    }
}